.header {
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, .6), rgba($color-primary-dark, .6)), url('../img/background.jpg');
    background-size: cover;
    background-position: top;
    position: relative;
    height: 90vh;
    clip-path: ellipse(78% 76% at 48% 20%);

    

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        animation-name: easeinout;
        animation-duration: 1s;
    }

    &__logo-box {
        position: absolute;
        height: 5vw;
        width: auto;
        margin: 0.75vw;
    }
    &__logo-box img {
        width: 10vw;
        height: auto;
    }
}