.composition{
    position: relative;
    &__photo{
        width: 50%;
        box-shadow: 0 2.5rem 4rem rgba($color: $color-black, $alpha: 0.3);
        outline-offset: 0.25rem;
        position: absolute;
        z-index: 0;

        &--p1{
            left: 5rem;
            top: -5rem;
        }
        &--p2{
            right: 2rem;
            top: 2rem;
        }
        &--p3{
            top: -3rem;
        }
        &:hover &__photo:not(:hover){
            transform: scale(0.9);
        }
        &:hover{
            transform: scale(1.05);
            outline: 0.5rem solid $color-primary;
            z-index: 10;
            transition: 0.2s;
        }
    }
}