body {
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: 400;
    line-height: 1.7;
    color: $color-grey;
}
.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    text-align: center;

    &--main {
        font-size: 5vw;
    }
    &--sub {
        font-size: 2vw;
        letter-spacing: 1vw;
        font-weight: 200;
    }
}
.heading-secondary{
    font-size: 3.0rem;
    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    cursor: pointer;
    letter-spacing: 1rem;
    text-align: center;

    background-image: linear-gradient(to right, $color-primary-light, $color-primary-dark);
    color: transparent;
    -webkit-background-clip: text;

    &:hover{
        transform: skew(0, -5deg) scale(1.1);
        text-shadow: 0.5rem 1rem 2rem rgba($color-black, $alpha: 0.5);
        transition: all 0.2s;
    }
}
.heading-tertiary{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    word-spacing: 0.25rem;
}
.paragraph{
    font-size: 1.0rem;
    &:not(:last-child){
        margin-bottom: 3rem;
    }
}